<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>layout Dani</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
  <link rel="stylesheet" href="./stylesheets/main.css">
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="row header">
      <div class="small-4 small-offset-1 columns">
        <h3>EXAMEN FINAL M8 - UF5</h3>
        <p class="dani">
        Daniel Arias
        </p>
      </div>
      <div class="small-4 large-offset-2">
        <button type="button" class="button boton-rosa">Home</button>
        <button class="dropdown button botongris">Page</button>
        <button type="button" class="button botongris">Grid</button>
        <button type="button" class="button botongris">Simple</button>
      </div>
    </div>

    <div class="peus">
      <div class="medium-3 medium-offset-2 padding">
        <p class="Passion">We Have a Passion</p>
        <h5>For Great Designs!</h5>

        <button type="button" class="button boton-gris">Secondary Button</button>
        <button type="button" class="button boton-rosa">Primary Button</button>
      </div>
      <div class="small-4 small-offset-6 libreta">
        <img src="img/llibreta.jpg"/>
        <p class="textimage">
          Flexible Sliding caption. Add your own caption text here.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="small-10 small-offset-1">
        <h4 class="color-text">Welcome</h4>
        <p class="color-text">
          Content on this page is for presentation purposes only. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </div>
    </div>


    <div class="row">
      <div class="small-3 small-offset-1 color-text">
        <h4>1/3 Column</h4>
        <img src="img/img_buida.png"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="read">
          Read More>>
        </p>
      </div>

      <div class="small-3 color-text">
        <h4>1/3 Column</h4>
        <img src="img/img_buida.png"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="read">
          Read More>>
        </p>
      </div>

      <div class="small-3 color-text">
        <h4>1/3 Column</h4>
        <img src="img/img_buida.png"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="read">
          Read More>>
        </p>
      </div>
    </div>

<div class="pie color-text">
    <div class="row">
      <div class="small-2 small-offset-1">
        <h5>About Company</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="letra-rosa">Terms of Use</p>
        <p class="letra-rosa">Provacy Policy</p>
        <p class="letra-rosa">FAQ</p>
        <p class="letra-rosa">Sitemap</p>
      </div>

      <div class="small-2">
        <h5>Recent Blog Posts</h5>
        <p class="letra-rosa">Lorem Ipsum is simply dummy text</p>
        <p class="rosa">2 hours ago</p>
        <p class="letra-rosa">Duis mollis, est non commodo luctus</p>
        <p>5 hours ago</p>
        <p class="letra-rosa">Maecenas sed diam eget risus varius</p>
        <p>11 hours ago</p>
        <p class="letra-rosa">VIEW ALL POSTS</p>
      </div>

      <div class="small-3 small-offset-1">
        <h5>Sample Footer Content</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>

      <div class="small-2">
        <h5>Get in Touch</h5>
        <p>Phone:</p>
        <p>(123)456 7890 / 456 7891</p>
        <p>EMail:</p>
        <p class="letra-rosa">info@yourdomain.com</p>
        <p>Address:</p>
        <p>123 Street</p>
        <p>123435 City,State</p>
        <p>Country</p>
      </div>
    </div>
    <div class="row">
      <div class="small-9 small-offset-1">
        <p>Copyright 2013 Your Company. All Rights Reserved.</p>
      </div>
    </div>
    <div class="row">
      <div class="small-1 small-offset-1">
        <p class="letra-rosa"><i class="fa fa-facebook facebook"></i>FACEBOOK</p>
      </div>
      <div class="small-1">
        <p class="letra-rosa"><i class="fa fa-twitter twitter"></i>TWITTER</p>
      </div>
      <div class="small-1">
        <p class="letra-rosa"><i class="fa fa-pinterest-p pinterest"></i>PINTEREST</p>
      </div>
      <div class="small-1">
        <p class="letra-rosa"><i class="fa fa-rss rss"></i>RSS</p>
      </div>
    </div>
    </div>
  <script src="js/bundle.js"></script>
</body>

</html>
