.header{
  margin-top: 20px;
  margin-bottom: 20px;
}

h3{
  color: #FE2EC8;
}

.boton-rosa{
  background: #B40486;
}

.color-text{
  color: #6E6E6E;
}

.peus {
  background-image: url(../img/peus.jpg);
  background-repeat: no-repeat;
  height: 500px;
  padding-top: 50px;
  }

.boton-rosa {
    background: #FE2EC8;
}
.boton-gris {
  background: #E6E6E6;
  color: #000;
}
.libreta{
  margin-top: -350px;
}

.padding {
    padding-top: 200px;
    margin-left: 100px;
  }

.pie{
  background-image: image(../img/fons_footer.png);
}
.Passion {
  color: #FE2EC8;
  font-size: 40px;
}
.textimage {
  background-color: #000;
  color: #fff;
  font-size: 14px;
}

p {
  font-size: 10px;
}

.dani{
  font-size: 22px;
  color: #A4A4A4;
}

.letra-rosa {
  color: #FE2EC8;
}
